.node-red/flows_HACKERNK.json
[{"id":"26287c45.63b4c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26a7e4a6.56f95c","type":"ui_group","z":"","name":"Logo","tab":"c731bf57.f3fe9","order":6,"disp":true,"width":"6","collapse":false},{"id":"c731bf57.f3fe9","type":"ui_tab","z":"","name":"Digital Twin 4.0","icon":"dashboard","disabled":false,"hidden":false},{"id":"621250c2.7aa3d","type":"ui_group","z":"","name":"Image","tab":"c579f960.6777a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"177debc4.23e714","type":"ui_group","z":"26287c45.63b4c4","name":"Logo","tab":"c579f960.6777a8","order":6,"disp":true,"width":"7","collapse":false},{"id":"c579f960.6777a8","type":"ui_tab","z":"26287c45.63b4c4","name":"Digital Twin 4.0","icon":"dashboard","disabled":false,"hidden":false},{"id":"a9552af6.f94d98","type":"inject","z":"26287c45.63b4c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":320,"wires":[["b80ded24.048c2","41b34534.841eec"]]},{"id":"982a83e8.74a2","type":"base64","z":"26287c45.63b4c4","name":"","action":"str","property":"payload","x":360,"y":120,"wires":[["b1f93701.5b13c8"]]},{"id":"b1f93701.5b13c8","type":"ui_template","z":"26287c45.63b4c4","group":"621250c2.7aa3d","name":"","order":3,"width":"5","height":"4","format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":180,"wires":[[]]},{"id":"b80ded24.048c2","type":"ui_template","z":"26287c45.63b4c4","group":"177debc4.23e714","name":"","order":1,"width":"1","height":"1","format":"<style>\n    body {\n        background-image: url(\"/DT.jpg\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":578,"y":325,"wires":[[]]},{"id":"41b34534.841eec","type":"file in","z":"26287c45.63b4c4","name":"","filename":"./img/motor.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":180,"y":160,"wires":[["e1b91ff5.72389","982a83e8.74a2"]]},{"id":"e1b91ff5.72389","type":"debug","z":"26287c45.63b4c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":240,"wires":[]},{"id":"bdbf063b.ac5a78","type":"ui_chart","z":"26287c45.63b4c4","name":"","group":"177debc4.23e714","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":500,"wires":[[]]},{"id":"8b2ddbae.ccaab8","type":"ui_gauge","z":"26287c45.63b4c4","name":"","group":"177debc4.23e714","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":540,"wires":[]},{"id":"67c2e2a3.3885cc","type":"inject","z":"26287c45.63b4c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["4c415400.d864bc"]]},{"id":"2b91c38f.d1880c","type":"function","z":"26287c45.63b4c4","name":"","func":"msg.topic=\"ns=2;s=Channel-EXCEL.Device-EXCEL.VELOCIDAD_RPM;datatype=UInt16\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":420,"wires":[[]]},{"id":"4c415400.d864bc","type":"curve","z":"26287c45.63b4c4","fexpression":"900sin(x)+900","valuex":"","outputtype":"float","name":"","topic":"","x":360,"y":420,"wires":[["bdbf063b.ac5a78","2b91c38f.d1880c","8b2ddbae.ccaab8"]]}]