.node-red/flows.json
[{"id":"26287c45.63b4c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26a7e4a6.56f95c","type":"ui_group","z":"","name":"Logo","tab":"c731bf57.f3fe9","order":6,"disp":true,"width":"6","collapse":false},{"id":"c731bf57.f3fe9","type":"ui_tab","z":"","name":"Digital Twin 4.0","icon":"dashboard","disabled":false,"hidden":false},{"id":"d447966b.cf3328","type":"inject","z":"26287c45.63b4c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":340,"wires":[["44cbfdf9.8fae64","33e29660.3c489a"]]},{"id":"33e29660.3c489a","type":"file in","z":"26287c45.63b4c4","name":"","filename":"./img/motor.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":140,"y":180,"wires":[["61e50759.a56558"]]},{"id":"44cbfdf9.8fae64","type":"ui_template","z":"26287c45.63b4c4","group":"26a7e4a6.56f95c","name":"","order":0,"width":"1","height":"1","format":"<style>\n    body {\n        background-image: url(\"/DT.jpg\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":598,"y":285,"wires":[[]]},{"id":"e9698c6b.45291","type":"ui_template","z":"26287c45.63b4c4","group":"26a7e4a6.56f95c","name":"","order":3,"width":"4","height":"3","format":"\n \n <img width=\"100%\" height=\"100%\" alt=\"Image not found\" src=\"data:image/png;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":180,"wires":[[]]},{"id":"61e50759.a56558","type":"base64","z":"26287c45.63b4c4","name":"","action":"str","property":"payload","x":400,"y":180,"wires":[["e9698c6b.45291"]]},{"id":"fa5126ad.b33568","type":"file in","z":"26287c45.63b4c4","name":"","filename":"C:\\Users\\NK\\.node-red\\img\\tenzorblack.jpeg","format":"","chunk":false,"sendError":false,"encoding":"none","x":350,"y":120,"wires":[["61e50759.a56558"]]}]